<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.ICommentMapper">

    <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM COMMENT
    </select>

    <select id="commentList" resultType="CommentDTO">
        SELECT
            *
        FROM COMMENT
    </select>

    <insert id="commentInsert" parameterType="CommentDTO">
        INSERT INTO COMMENT
        (
            CNO,  USER_ID, NOTICE_SEQ, CONTENT,
            REG_DT
        )
        VALUES(

                  #{cno}, #{user_id}, #{notice_seq}, #{content}, SYSDATE()
              )
    </insert>

    <update id="commentUpdate" parameterType="CommentDTO">
        UPDATE COMMENT
            SET
            CONTENT = #{content}
        WHERE CNO = #{cno}
    </update>

    <delete id="commentDelete" parameterType="int">
        DELETE FROM COMMENT WHERE CNO = #{cno}
    </delete>

</mapper>